/*< Модуль обратный звонок >*/
.white-popup
{
	position: relative;
	background: #FFF;
	padding: 25px;
	width: auto;
	max-width: 400px;
	margin: 0 auto;
}
.mfp-newspaper
{
	/*start state
animate in
animate out*/
}
.mfp-newspaper .mfp-with-anim
{
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.5s;
	transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg
{
	opacity: 0;
	transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim
{
	opacity: 1;
	transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg
{
	opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim
{
	transform: scale(0) rotate(500deg);
	opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg
{
	opacity: 0;
}
#callme
{
	height: 151px;
	position: fixed;
	=position: absolute;
	top: 150px;
	right: 0;
	width: 22px;
	background: #FFF;
	z-index: 110;
}
.callback_content
{
	padding-left: 16px;
	zoom: 1;
	margin: 0px;
	background: #FFF;
	border: 0;
	position: relative;
}
#cme_form SPAN.required
{
	color: #AF2626;
	border: 0;
	margin: 0px;
	padding: 0px;
}
INPUT[type="text"].callback_input
{
	width: 255px;
	margin: 3px 0px 5px;
}
TEXTAREA.callback_textarea
{
	width: 253px;
	resize: vertical;
	margin-top: 3px;
	margin-bottom: 5px;
}
.cme_txt
{
	width: 280px !important;
	border: 1px solid #AAA;
	border-radius: 1px;
	box-shadow: 0 1px 0 #FFF;
	color: #000;
	font-size: 12px;
	padding: 5px 3px !important;
}
#cme_form
{
	font-family: "Lucida Grande", Tahoma;
	display: none;
	text-shadow: 0 1px #FFF;
	border: 1px solid #BBC1CE;
	box-shadow: 0 2px 20px #333;
	position: fixed;
	=position: absolute;
	border-radius: 3px;
	right: 50px;
	top: 150px;
	width: 305px;
	background: #FFF;
	color: #808080;
	z-index: 999999;
}
#cme_form .text_color
{
	color: #808080;
	font-size: 12px;
	position: relative;
	padding: 0px;
	margin: 0px;
}
#cme_form SPAN DIV
{
	float: left;
	display: inline-block;
	margin: 0 3px 0 0;
	line-height: 24px;
}
.cme_btn
{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 4px 7px 5px;
	background: #637BAD;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	border-radius: 1px;
	text-shadow: 0 1px 0 #757575;
	margin: 0;
	cursor: pointer;
	border: 0;
	border-top: 1px solid #;
	width: 140px;
	border-top: 1px solid #8A9CC2;
	border-right: 1px solid #4B5E84;
	border-left: 1px solid #4B5E84;
	border-bottom: 1px solid #4B5E84;
	box-shadow: 0 -1px 0 #4B5E84, 0 1px 0 #FFF;
}
#cme_form H6
{
	color: #3B5998;
	font-size: 12px;
	padding: 8px 0 9px 10px;
	border-bottom: 1px solid #E9E9E9;
	background-color: #F2F2F2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(top, #ffffff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
	margin: 0 0 7px;
	font-weight: bold;
	text-align: center;
}
.callmebody
{
	font-familyly: 'lucida grande', Tahoma;
	font-size: 12px;
	background: #FFF;
	padding: 5px 10px;
}
.callmebody .inf
{
	padding: 0 5px;
	margin: 0 0 10px;
	font-weight: bold;
	clear: both;
}
#viewform
{
	border: 0;
	padding: 0;
	background: url(../image/bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}
.callmeform_hover
{
	background-position: 22px 0 !important;
}
#callme_result
{
	background: #FFF url(../image/loading.gif) no-repeat 10px center;
	display: block;
	clear: both;
	margin: 5px 11px 10px 10px;
}
#callme_result DIV
{
	padding: 7px;
	margin: 4px 0px 0px;
}
#callme_result .sending
{
	padding: 7px 0 7px 35px;
	display: block;
	color: #808080;
	clear: both;
}
#callme_result .c_success
{
	background: #98C462;
	color: #FFF;
	text-shadow: none;
}
#callme_result .c_error
{
	background: #F76363;
	color: #FFFAFA;
	text-shadow: none;
}
#cme_cls
{
	height: 15px;
	width: 15px;
	float: right;
	display: inline;
	/*background: url(../image/close2.png);*/
	margin: 8px 10px 0 0;
	box-shadow: 0 1px 0 #FFF;
	cursor: pointer;
}
.cme_btn_place SPAN A, #cm_crds A
{
	font-size: 10px;
	color: #888;
}
.cme_btn_place SPAN A:hover, #cm_crds A:hover
{
	text-decoration: none;
}
.cme_btn_place SPAN, #cm_crds
{
	display: inline;
	float: right;
	padding: 7px 12px 0 0 !important;
	font-size: 8px !important;
	color: #888 !important;
}
#cme_cls
{
	text-decoration: none;
}
#cme_back
{
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}
#cme_form SELECT
{
	background: #FFF;
	padding: 4px 3px 3px 9px;
	font-size: 12px;
	border: 1px solid #98A198;
	margin: 0 0 7px;
	border-radius: 3px;
	outline-style: none;
}
#cme_form .cme_select
{
	width: 290px !important;
	margin: 0 0 5px 10px;
}
#cme_form .success_block
{
	padding: 10px;
	text-align: center;
}
