#livesearch_search_results
{
	margin: 0px;
	padding: 5px;
	position: absolute;
	/*top: 115px;
left: 760px;*/
	background-color: #F5F5F5;
	list-style-type: none;
	z-index: 12;
	width: 100%;
}
#livesearch_search_results LI
{
	padding: 5px;
	height: 50px;
	border-bottom: 1px solid #E1E1E1;
}
#livesearch_search_results IMG
{
	width: 40px;
	height: auto;
	max-height: 80px;
	float: left;
	margin-right: 15px;
}
#livesearch_search_results A IMG
{
	margin-right: 10px;
	margin-top: -15px;
}
#livesearch_search_results A, #livesearch_search_results A:visited, #livesearch_search_results A:hover
{
	color: #000;
	text-decoration: none;
	float: left;
	height: 35px;
	padding-top: 15px;
}
#livesearch_search_results A:hover
{
	text-decoration: underline;
	color: #000;
}
#livesearch_search_results LI:hover
{
	background-color: #FFFFF0;
}
#livesearch_search_results .highlighted
{
	background-color: #000;
}
