.ui-notify
{
	position: fixed;
	z-index: 1000;
	top: 20px;
	right: 20px;
}
.ui-notify .ui-notify-message
{
	top: 32px;
	position: relative;
	padding: 7px 5px;
	margin-bottom: 14px;
	color: #333333;
	background-color: #F7F7F7;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f7f7f7));
	background-image: -moz-linear-gradient(top, #f7f7f7, #f7f7f7);
	background-image: -ms-linear-gradient(top, #f7f7f7, #f7f7f7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f7f7f7));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #f7f7f7);
	background-image: -o-linear-gradient(top, #f7f7f7, #f7f7f7);
	background-image: linear-gradient(top, #f7f7f7, #f7f7f7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0);
	border-color: #F7F7F7 #F7F7F7 #D1D1D1;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: none;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.ui-notify A.bro_button_remove
{
	background: url(../image/icon_close.png) no-repeat 0 0;
	width: 19px;
	height: 19px;
	position: absolute;
	right: -8px;
	top: -8px;
	display: inline-block;
}
.ui-notify H2
{
	margin-bottom: 15px;
}
H2.bro_icon_success
{
	background: no-repeat 10px center;
	padding: 5px 20px 10px;
	color: #000;
	text-align: left;
	font: normal 14px PTSansRegular;
	border-bottom: 1px solid #CCC;
	text-transform: none;
}
.ui-notify .bro_text
{
	overflow: hidden;
	padding: 0 5px 5px;
}
.ui-notify .bro_text IMG
{
	float: left;
	margin-right: 8px;
}
.ui-notify .bro_text H3
{
	font-size: 11px;
	color: #1E1E1E;
	font-weight: 400;
	text-align: left;
}
.ui-notify .bro_text H3 A:first-child
{
	color: #242424;
	font: bold 12px Arial;
}
.ui-notify .bro_text H3 A
{
	font-size: 11px;
}